/* Extension: SharePage */

div.sp-container {
	padding: 1.5em 0.5em;
	background-color: white;
}

div.sp-title {
	font-size: 85%;
	text-align: center;
	margin-bottom: 4px;
}

ul.sp-buttonlist {
	margin: 1px;
	list-style: none;
	padding: 0;
	width: 100%;
	text-align: center !important;
	line-height: 1;
}

li.sp-button {
	float: none !important;
	display: inline-block;
	background: 0 0 !important;
}

i.sp-button-background {
	width: 27px;
	height: 27px;
	color: #fff;
	border: 0px;
	float: left;
	border: none;
	display: block;
	cursor: pointer;
	margin: 2px;
}

i.sp-button-background:hover {
	opacity: 100%;
	transform: scale(1.5);
	transition-duration: 0.3s;
	transition-delay: 0.2s;
	margin-left: 8px;
	margin-right: 8px;
}

.sp-button-round {
	border-radius: 999px;
}

a.sp-icon {
	width: 100%;
	height: 100%;
	display: block;
}

i.sp-button-text {
	height: 12px;
	border: 0px;
	float: left;
	border: none;
	display: block;
	cursor: pointer;
	margin: 2px;
	text-align: center;
	font-style: normal !important;
	font-size: 85%;
	padding: 8px;
}

/*
 * Sharepage Icons
 *
 * - name must match $knownServices in SharePage.php
 * - currently unsupported ones are commented
 */

/*a.sp-icon-behance {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-2%20-2%2036%2036%22%3E%3Cpath%20d%3D%22M3.862%208.136h5.66c1.377%200%203.19%200%204.13.566a3.705%203.705%200%200%201%201.837%203.26c0%201.66-.88%202.905-2.32%203.494v.042c1.924.397%202.97%201.838%202.97%203.76%200%202.297-1.636%204.483-4.743%204.483H3.86V8.14zm2.078%206.71h4.152c2.36%200%203.322-.856%203.322-2.493%200-2.16-1.53-2.468-3.322-2.468H5.94v4.96zm0%207.144h5.2c1.792%200%202.93-1.09%202.93-2.797%200-2.03-1.64-2.598-3.388-2.598H5.94v5.395zm22.017-1.833C27.453%2022.65%2025.663%2024%2023.127%2024c-3.607%200-5.31-2.49-5.422-5.944%200-3.386%202.23-5.878%205.31-5.878%204%200%205.225%203.74%205.116%206.47h-8.455c-.067%201.966%201.05%203.716%203.52%203.716%201.53%200%202.6-.742%202.928-2.206h1.838zm-1.793-3.15c-.088-1.77-1.42-3.19-3.256-3.19-1.946%200-3.106%201.466-3.236%203.19h6.492zM20.614%208h4.935v1.68h-4.94z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center
}*/

a.sp-icon-copylink {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-4%20-4%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M24.412%2021.177c0-.36-.126-.665-.377-.917l-2.804-2.804a1.235%201.235%200%200%200-.913-.378c-.377%200-.7.144-.97.43.026.028.11.11.255.25.144.14.24.236.29.29s.117.14.2.256c.087.117.146.232.177.344.03.112.046.236.046.37%200%20.36-.126.666-.377.918a1.25%201.25%200%200%201-.918.377%201.4%201.4%200%200%201-.373-.047%201.062%201.062%200%200%201-.345-.175%202.268%202.268%200%200%201-.256-.2%206.815%206.815%200%200%201-.29-.29c-.14-.142-.223-.23-.25-.254-.297.28-.445.607-.445.984%200%20.36.126.664.377.916l2.778%202.79c.243.243.548.364.917.364.36%200%20.665-.118.917-.35l1.982-1.97c.252-.25.378-.55.378-.9zm-9.477-9.504c0-.36-.126-.665-.377-.917l-2.777-2.79a1.235%201.235%200%200%200-.913-.378c-.35%200-.656.12-.917.364L7.967%209.92c-.254.252-.38.553-.38.903%200%20.36.126.665.38.917l2.802%202.804c.242.243.547.364.916.364.377%200%20.7-.14.97-.418-.026-.027-.11-.11-.255-.25s-.24-.235-.29-.29a2.675%202.675%200%200%201-.2-.255%201.052%201.052%200%200%201-.176-.344%201.396%201.396%200%200%201-.047-.37c0-.36.126-.662.377-.914.252-.252.557-.377.917-.377.136%200%20.26.015.37.046.114.03.23.09.346.175.117.085.202.153.256.2.054.05.15.148.29.29.14.146.222.23.25.258.294-.278.442-.606.442-.983zM27%2021.177c0%201.078-.382%201.99-1.146%202.736l-1.982%201.968c-.745.75-1.658%201.12-2.736%201.12-1.087%200-2.004-.38-2.75-1.143l-2.777-2.79c-.75-.747-1.12-1.66-1.12-2.737%200-1.106.392-2.046%201.183-2.818l-1.186-1.185c-.774.79-1.708%201.186-2.805%201.186-1.078%200-1.995-.376-2.75-1.13l-2.803-2.81C5.377%2012.82%205%2011.903%205%2010.826c0-1.08.382-1.993%201.146-2.738L8.128%206.12C8.873%205.372%209.785%205%2010.864%205c1.087%200%202.004.382%202.75%201.146l2.777%202.79c.75.747%201.12%201.66%201.12%202.737%200%201.105-.392%202.045-1.183%202.817l1.186%201.186c.774-.79%201.708-1.186%202.805-1.186%201.078%200%201.995.377%202.75%201.132l2.804%202.804c.754.755%201.13%201.672%201.13%202.75z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center;
}

a.sp-icon-email {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-4%20-4%2043%2043%22%3E%3Cpath%20d%3D%22M%205.5%2011%20h%2023%20v%201%20l%20-11%206%20l%20-11%20-6%20v%20-1%20m%200%202%20l%2011%206%20l%2011%20-6%20v%2011%20h%20-22%20v%20-11%22%20stroke-width%3D%221%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center;
}

a.sp-icon-facebook {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-5%20-5%2042%2042%22%3E%3Cpath%20d%3D%22M17.78%2027.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99%202.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123%200-5.26%201.905-5.26%205.405v3.016h-3.53v4.09h3.53V27.5h4.223z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center
}

a.sp-icon-facebookmessenger {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-2%20-2%2036%2036%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M16%205C9.986%205%205.11%209.56%205.11%2015.182c0%203.2%201.58%206.054%204.046%207.92V27l3.716-2.06c.99.276%202.04.425%203.128.425%206.014%200%2010.89-4.56%2010.89-10.183S22.013%205%2016%205zm1.147%2013.655L14.33%2015.73l-5.423%203%205.946-6.31%202.816%202.925%205.42-3-5.946%206.31z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center;
}

/*a.sp-icon-flickr {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-2%20-2%2036%2036%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Ccircle%20cx%3D%2223%22%20cy%3D%2216%22%20r%3D%226%22%3E%3C%2Fcircle%3E%3Ccircle%20cx%3D%229%22%20cy%3D%2216%22%20r%3D%226%22%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center
}*/

/*a.sp-icon-foursquare {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-4%20-4%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M21.516%203H7.586C5.66%203%205%204.358%205%205.383v21.995c0%201.097.65%201.407.958%201.53.31.126%201.105.206%201.676-.36l6.72-7.455c.105-.12.49-.284.552-.284h4.184c1.79%200%201.81-1.45%201.997-2.206.157-.63%201.946-9.57%202.58-12.395.523-2.32-.104-3.21-2.15-3.21zM20.2%209.682c-.07.33-.368.66-.75.693h-5.44c-.61-.034-1.108.422-1.108%201.032v.665c0%20.61.5%201.24%201.108%201.24h4.607c.43%200%20.794.276.7.737-.093.46-.573%202.82-.627%203.07-.052.254-.282.764-.716.764h-3.62c-.682%200-1.36-.008-1.816.56-.458.573-4.534%205.293-4.534%205.293V6.403c0-.438.31-.746.715-.74h11.274c.41-.006.915.41.834%201L20.2%209.68z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center
}*/

/*a.sp-icon-github {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-2%20-2%2036%2036%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16%203.32c-7.182%200-13%205.82-13%2013%200%205.754%203.72%2010.612%208.89%2012.335.65.114.893-.276.893-.617%200-.31-.016-1.333-.016-2.42-3.266.6-4.11-.797-4.37-1.53-.147-.373-.78-1.527-1.334-1.835-.455-.244-1.105-.845-.016-.86%201.024-.017%201.755.942%202%201.332%201.17%201.966%203.038%201.414%203.785%201.073.114-.845.455-1.414.83-1.74-2.893-.324-5.916-1.445-5.916-6.418%200-1.414.504-2.584%201.333-3.494-.13-.325-.59-1.657.13-3.445%200%200%201.085-.34%203.57%201.337%201.04-.293%202.146-.44%203.25-.44s2.21.147%203.25.44c2.49-1.69%203.58-1.337%203.58-1.337.714%201.79.26%203.12.13%203.446.828.91%201.332%202.064%201.332%203.494%200%204.99-3.04%206.094-5.93%206.42.47.405.876%201.185.876%202.404%200%201.74-.016%203.136-.016%203.575%200%20.34.244.743.894.613C25.28%2026.933%2029%2022.053%2029%2016.32c0-7.182-5.817-13-13-13z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center
}*/

/*a.sp-icon-instagram {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22Layer_1%22%20version%3D%221.1%22%20viewBox%3D%22-10%20-10%20148%20148%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M86%2C112H42c-14.336%2C0-26-11.663-26-26V42c0-14.337%2C11.664-26%2C26-26h44c14.337%2C0%2C26%2C11.663%2C26%2C26v44%20%20%20%20C112%2C100.337%2C100.337%2C112%2C86%2C112z%20M42%2C24c-9.925%2C0-18%2C8.074-18%2C18v44c0%2C9.925%2C8.075%2C18%2C18%2C18h44c9.926%2C0%2C18-8.075%2C18-18V42%20%20%20%20c0-9.926-8.074-18-18-18H42z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D%22M64%2C88c-13.234%2C0-24-10.767-24-24c0-13.234%2C10.766-24%2C24-24s24%2C10.766%2C24%2C24C88%2C77.233%2C77.234%2C88%2C64%2C88z%20M64%2C48c-8.822%2C0-16%2C7.178-16%2C16s7.178%2C16%2C16%2C16c8.822%2C0%2C16-7.178%2C16-16S72.822%2C48%2C64%2C48z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cg%3E%3Ccircle%20cx%3D%2289.5%22%20cy%3D%2238.5%22%20fill%3D%22%23fff%22%20r%3D%225.5%22%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center
}*/

a.sp-icon-linkedin {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-2%20-2%2035%2039%22%3E%3Cpath%20d%3D%22M6.227%2012.61h4.19v13.48h-4.19V12.61zm2.095-6.7a2.43%202.43%200%200%201%200%204.86c-1.344%200-2.428-1.09-2.428-2.43s1.084-2.43%202.428-2.43m4.72%206.7h4.02v1.84h.058c.56-1.058%201.927-2.176%203.965-2.176%204.238%200%205.02%202.792%205.02%206.42v7.395h-4.183v-6.56c0-1.564-.03-3.574-2.178-3.574-2.18%200-2.514%201.7-2.514%203.46v6.668h-4.187V12.61z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E') no-repeat center center
}

/*a.sp-icon-medium {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20focusable%3D%22false%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-2%20-2%2036%2036%22%3E%3Cpath%20d%3D%22M7.8%2011a.8.8%200%200%200-.27-.7l-2-2.42v-.41h6.23L16.57%2018l4.24-10.53h5.94v.36L25%209.47a.5.5%200%200%200-.19.48v12.1a.5.5%200%200%200%20.19.48l1.68%201.64v.36h-8.4v-.36L20%2022.49c.18-.17.18-.22.18-.49v-9.77l-4.82%2012.26h-.65L9.09%2012.23v8.22a1.09%201.09%200%200%200%20.31.94l2.25%202.74v.36h-6.4v-.36l2.26-2.74a1.09%201.09%200%200%200%20.29-.94z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center
}*/

/*a.sp-icon-mewe {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-3%20-3%2038%2038%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M9.636%2010.427a1.22%201.22%200%201%201-2.44%200%201.22%201.22%200%201%201%202.44%200zM15.574%2010.431a1.22%201.22%200%200%201-2.438%200%201.22%201.22%200%201%201%202.438%200zM22.592%2010.431a1.221%201.221%200%201%201-2.443%200%201.221%201.221%200%200%201%202.443%200zM29.605%2010.431a1.221%201.221%200%201%201-2.442%200%201.221%201.221%200%200%201%202.442%200zM3.605%2013.772c0-.471.374-.859.859-.859h.18c.374%200%20.624.194.789.457l2.935%204.597%202.95-4.611c.18-.291.43-.443.774-.443h.18c.485%200%20.859.387.859.859v8.113a.843.843%200%200%201-.859.845.857.857%200%200%201-.845-.845V16.07l-2.366%203.559c-.18.276-.402.443-.72.443-.304%200-.526-.167-.706-.443l-2.354-3.53V21.9c0%20.471-.374.83-.845.83a.815.815%200%200%201-.83-.83v-8.128h-.001zM14.396%2014.055a.9.9%200%200%201-.069-.333c0-.471.402-.83.872-.83.415%200%20.735.263.845.624l2.23%206.66%202.187-6.632c.139-.402.428-.678.859-.678h.124c.428%200%20.735.278.859.678l2.187%206.632%202.23-6.675c.126-.346.415-.609.83-.609.457%200%20.845.361.845.817a.96.96%200%200%201-.083.346l-2.867%208.032c-.152.43-.471.706-.887.706h-.165c-.415%200-.721-.263-.872-.706l-2.161-6.328-2.16%206.328c-.152.443-.47.706-.887.706h-.165c-.415%200-.72-.263-.887-.706l-2.865-8.032z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center
}*/

/*a.sp-icon-odnoklassniki {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-4%20-4%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16%2016.16c-3.635%200-6.58-2.945-6.58-6.58C9.42%205.945%2012.364%203%2016%203s6.582%202.945%206.582%206.58c0%203.635-2.946%206.58-6.58%206.58zm0-9.817c-1.788%200-3.236%201.448-3.236%203.237%200%201.79%201.448%203.236%203.237%203.236%201.79%200%203.24-1.447%203.24-3.236%200-1.79-1.45-3.237-3.238-3.237zm7.586%2010.62c.648%201.3-.084%201.93-1.735%202.99-1.397.9-3.315%201.238-4.566%201.368l1.048%201.05%203.877%203.877c.59.59.59%201.544%200%202.134l-.178.18c-.59.59-1.544.59-2.134%200l-3.878-3.88-3.878%203.88c-.59.59-1.543.59-2.135%200l-.176-.18c-.59-.59-.59-1.543%200-2.132l3.878-3.878%201.043-1.046c-1.25-.127-3.19-.465-4.6-1.37-1.65-1.062-2.38-1.69-1.733-2.99.37-.747%201.4-1.367%202.768-.29C13.035%2018.13%2016%2018.13%2016%2018.13s2.968%200%204.818-1.456c1.37-1.077%202.4-.457%202.768.29z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center
}*/

/*a.sp-icon-pinterest {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-2%20-2%2035%2035%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16.539%204.5c-6.277%200-9.442%204.5-9.442%208.253%200%202.272.86%204.293%202.705%205.046.303.125.574.005.662-.33.061-.231.205-.816.27-1.06.088-.331.053-.447-.191-.736-.532-.627-.873-1.439-.873-2.591%200-3.338%202.498-6.327%206.505-6.327%203.548%200%205.497%202.168%205.497%205.062%200%203.81-1.686%207.025-4.188%207.025-1.382%200-2.416-1.142-2.085-2.545.397-1.674%201.166-3.48%201.166-4.689%200-1.081-.581-1.983-1.782-1.983-1.413%200-2.548%201.462-2.548%203.419%200%201.247.421%202.091.421%202.091l-1.699%207.199c-.505%202.137-.076%204.755-.039%205.019.021.158.223.196.314.077.13-.17%201.813-2.247%202.384-4.324.162-.587.929-3.631.929-3.631.46.876%201.801%201.646%203.227%201.646%204.247%200%207.128-3.871%207.128-9.053.003-3.918-3.317-7.568-8.361-7.568z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center
}*/

a.sp-icon-reddit {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-3.5%20-3.5%2039%2039%22%3E%3Cpath%20d%3D%22M28.543%2015.774a2.953%202.953%200%200%200-2.951-2.949%202.882%202.882%200%200%200-1.9.713%2014.075%2014.075%200%200%200-6.85-2.044l1.38-4.349%203.768.884a2.452%202.452%200%201%200%20.24-1.176l-4.274-1a.6.6%200%200%200-.709.4l-1.659%205.224a14.314%2014.314%200%200%200-7.316%202.029%202.908%202.908%200%200%200-1.872-.681%202.942%202.942%200%200%200-1.618%205.4%205.109%205.109%200%200%200-.062.765c0%204.158%205.037%207.541%2011.229%207.541s11.22-3.383%2011.22-7.541a5.2%205.2%200%200%200-.053-.706%202.963%202.963%200%200%200%201.427-2.51zm-18.008%201.88a1.753%201.753%200%200%201%201.73-1.74%201.73%201.73%200%200%201%201.709%201.74%201.709%201.709%200%200%201-1.709%201.711%201.733%201.733%200%200%201-1.73-1.711zm9.565%204.968a5.573%205.573%200%200%201-4.081%201.272h-.032a5.576%205.576%200%200%201-4.087-1.272.6.6%200%200%201%20.844-.854%204.5%204.5%200%200%200%203.238.927h.032a4.5%204.5%200%200%200%203.237-.927.6.6%200%201%201%20.844.854zm-.331-3.256a1.726%201.726%200%201%201%201.709-1.712%201.717%201.717%200%200%201-1.712%201.712z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E') no-repeat center center;
}

/*a.sp-icon-rss {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-4%20-4%2040%2040%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cellipse%20cx%3D%227.952%22%20cy%3D%2224.056%22%20rx%3D%222.952%22%20ry%3D%222.944%22%3E%3C%2Fellipse%3E%3Cpath%20d%3D%22M5.153%2016.625c2.73%200%205.295%201.064%207.22%202.996a10.2%2010.2%200%200%201%202.996%207.255h4.2c0-7.962-6.47-14.44-14.42-14.44v4.193zm.007-7.432c9.724%200%2017.636%207.932%2017.636%2017.682H27C27%2014.812%2017.203%205%205.16%205v4.193z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center
}*/

/*a.sp-icon-snapchat {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M26.177%2020.978c-2.867-.473-4.157-3.414-4.21-3.54l-.01-.02c-.153-.31-.187-.57-.1-.772.164-.39.774-.583%201.177-.71.113-.037.22-.07.306-.105.715-.28%201.073-.625%201.066-1.03-.006-.312-.252-.593-.642-.732a1.168%201.168%200%200%200-.44-.084.975.975%200%200%200-.405.083c-.34.16-.65.246-.91.258a.789.789%200%200%201-.357-.087l.027-.45.005-.062c.09-1.432.203-3.215-.266-4.264C20.03%206.34%2017.073%206.1%2016.2%206.1h-.052l-.363.003c-.87%200-3.818.243-5.208%203.36-.47%201.05-.357%202.833-.268%204.264l.03.513a.83.83%200%200%201-.41.09c-.276%200-.6-.087-.97-.26a.795.795%200%200%200-.335-.067c-.43%200-.946.282-1.026.704-.06.305.077.748%201.054%201.134.087.036.193.07.305.105.403.128%201.012.322%201.18.71.084.203.05.463-.103.773l-.01.022c-.054.125-1.344%203.068-4.21%203.54a.437.437%200%200%200-.366.455.6.6%200%200%200%20.048.196c.216.504%201.123.87%202.775%201.13.055.075.113.34.148.5.036.16.07.32.12.494.05.17.18.374.514.374.133%200%20.292-.03.475-.067.275-.053.652-.127%201.124-.127.26%200%20.532.022.805.067.532.09.985.41%201.51.78.75.53%201.6%201.132%202.894%201.132.034%200%20.07%200%20.105-.005.04.002.095.004.153.004%201.29%200%202.142-.6%202.892-1.132.526-.37.978-.69%201.51-.78.274-.045.545-.068.807-.068.45%200%20.805.056%201.123.12.2.037.36.057.476.057h.024c.246%200%20.42-.13.488-.365.05-.17.086-.327.12-.49.037-.16.094-.422.15-.496%201.65-.256%202.56-.624%202.773-1.125a.568.568%200%200%200%20.047-.196.433.433%200%200%200-.363-.458z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center
}*/

a.sp-icon-telegram {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-1%20-3%2036%2036%22%20width%3D%22100%25%22%20height%3D%22100%25%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M25.515%206.896L6.027%2014.41c-1.33.534-1.322%201.276-.243%201.606l5%201.56%201.72%205.66c.226.625.115.873.77.873.506%200%20.73-.235%201.012-.51l2.43-2.363%205.056%203.734c.93.514%201.602.25%201.834-.863l3.32-15.638c.338-1.363-.52-1.98-1.41-1.577z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center
}

a.sp-icon-threema {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-4%20-4%2040%2040%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M11.4%2025.941a1.734%201.734%200%201%201-3.467%200%201.734%201.734%200%200%201%203.467%200M24.067%2025.941a1.734%201.734%200%201%201-3.467%200%201.734%201.734%200%200%201%203.467%200M17.733%2025.941a1.734%201.734%200%201%201-3.467%200%201.734%201.734%200%200%201%203.467%200%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22M16.082%208.716h-.262c-.886%200-1.507.682-1.507%201.568v2.015h3.372v-2.015c.001-.886-.718-1.568-1.603-1.568z%22%2F%3E%3Cpath%20d%3D%22M16%204.325c-6.075%200-11%203.752-11%208.381%200%201.924.851%203.697%202.283%205.111.49.484.607%201.231.283%201.839l-1.479%202.776%204.39-1.384a6.183%206.183%200%200%201%201.863-.284c.383%200%20.766.034%201.145.102.807.144%201.649.22%202.514.22%206.075%200%2011-3.752%2011-8.381S22.075%204.325%2016%204.325zm3.793%2012.432c0%20.368-.409.6-.777.6H12.85c-.368%200-.643-.231-.643-.6v-3.733c0-.368.275-.725.643-.725h.2v-2.015c0-1.585%201.187-2.832%202.771-2.832h.262c1.583%200%202.868%201.247%202.868%202.832v2.015h.066c.368%200%20.777.357.777.725v3.733z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center;
}

/*a.sp-icon-tumblr {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-2%20-2%2036%2036%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M20.775%2021.962c-.37.177-1.08.33-1.61.345-1.598.043-1.907-1.122-1.92-1.968v-6.217h4.007V11.1H17.26V6.02h-2.925s-.132.044-.144.15c-.17%201.556-.895%204.287-3.923%205.378v2.578h2.02v6.522c0%202.232%201.647%205.404%205.994%205.33%201.467-.025%203.096-.64%203.456-1.17l-.96-2.846z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center
}*/

a.sp-icon-twitter {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-4%20-4%2039%2039%22%3E%0A%3Cpath%20d%3D%22M28%208.557a9.913%209.913%200%200%201-2.828.775%204.93%204.93%200%200%200%202.166-2.725%209.738%209.738%200%200%201-3.13%201.194%204.92%204.92%200%200%200-3.593-1.55%204.924%204.924%200%200%200-4.794%206.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942%204.942%200%200%200-.665%202.477c0%201.71.87%203.214%202.19%204.1a4.968%204.968%200%200%201-2.23-.616v.06c0%202.39%201.7%204.38%203.952%204.83-.414.115-.85.174-1.297.174-.318%200-.626-.03-.928-.086a4.935%204.935%200%200%200%204.6%203.42%209.893%209.893%200%200%201-6.114%202.107c-.398%200-.79-.023-1.175-.068a13.953%2013.953%200%200%200%207.55%202.213c9.056%200%2014.01-7.507%2014.01-14.013%200-.213-.005-.426-.015-.637.96-.695%201.795-1.56%202.455-2.55z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E') no-repeat center center;
}

/*a.sp-icon-vimeo {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-2%20-2%2036%2036%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M26.926%2010.627c-.103%202.25-1.675%205.332-4.716%209.245C19.066%2023.957%2016.406%2026%2014.23%2026c-1.348%200-2.49-1.244-3.42-3.732l-1.867-6.844C8.25%2012.937%207.51%2011.69%206.715%2011.69c-.173%200-.778.365-1.815%201.09l-1.088-1.4a300.012%20300.012%200%200%200%203.374-3.01c1.522-1.315%202.666-2.007%203.427-2.076%201.8-.173%202.907%201.057%203.322%203.69.45%202.84.76%204.608.935%205.3.52%202.356%201.09%203.534%201.713%203.534.483%200%201.21-.764%202.18-2.294.97-1.528%201.488-2.692%201.558-3.49.14-1.32-.38-1.98-1.553-1.98-.554%200-1.125.126-1.712.378%201.137-3.722%203.308-5.53%206.513-5.426%202.378.068%203.498%201.61%203.36%204.62z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center
}*/

/*a.sp-icon-vkontakte {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-1%20-2%2034%2034%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23fff%22%20d%3D%22M15.764%2022.223h1.315s.394-.044.6-.262c.184-.2.18-.574.18-.574s-.03-1.764.79-2.023c.81-.255%201.844%201.705%202.942%202.46.832.57%201.464.445%201.464.445l2.936-.04s1.538-.097.81-1.304c-.06-.1-.426-.894-2.186-2.526-1.843-1.71-1.594-1.434.624-4.39%201.353-1.804%201.893-2.902%201.724-3.374-.16-.45-1.153-.33-1.153-.33l-3.306.02s-.247-.034-.428.074c-.178.108-.293.356-.293.356s-.522%201.394-1.223%202.58c-1.47%202.5-2.06%202.633-2.3%202.476-.563-.36-.42-1.454-.42-2.23%200-2.423.365-3.435-.72-3.696-.357-.085-.623-.143-1.544-.15-1.182-.014-2.18.003-2.743.28-.378.185-.667.595-.49.62.218.027.713.13.975.49.34.46.33%201.496.33%201.496s.193%202.852-.46%203.206c-.442.245-1.056-.252-2.37-2.52-.67-1.163-1.18-2.446-1.18-2.446s-.1-.24-.273-.37c-.212-.155-.506-.204-.506-.204l-3.145.02s-.473.015-.647.22c-.154.183-.01.56-.01.56s2.46%205.757%205.245%208.657c2.553%202.66%205.454%202.485%205.454%202.485z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center
}*/

a.sp-icon-whatsapp {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-5.5%20-4.5%2040%2040%22%3E%3Cpath%20id%3D%22arc1%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20d%3D%22M%2011.579798566743314%2024.396926207859085%20A%2010%2010%200%201%200%206.808479557110079%2020.73576436351046%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M%207%2019%20l%20-1%206%20l%206%20-1%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M%2010%2010%20q%20-1%208%208%2011%20c%205%20-1%200%20-6%20-1%20-3%20q%20-4%20-3%20-5%20-5%20c%204%20-2%20-1%20-5%20-1%20-4%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center;
}

a.sp-icon-xing {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-6%20-6%2042%2042%22%3E%0A%3Cpath%20d%3D%22M%206%209%20h%205%20l%204%204%20l%20-5%207%20h%20-5%20l%205%20-7%20z%20m%2015%20-4%20h%205%20l%20-9%2013%20l%204%208%20h%20-5%20l%20-4%20-8%20z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E') no-repeat center center
}

/*a.sp-icon-youtube {
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M26.78%2011.6s-.215-1.515-.875-2.183c-.837-.876-1.774-.88-2.204-.932-3.075-.222-7.693-.222-7.693-.222h-.01s-4.618%200-7.697.222c-.43.05-1.368.056-2.205.932-.66.668-.874%202.184-.874%202.184S5%2013.386%205%2015.166v1.67c0%201.78.22%203.56.22%203.56s.215%201.516.874%202.184c.837.875%201.936.85%202.426.94%201.76.17%207.48.22%207.48.22s4.623-.007%207.7-.23c.43-.05%201.37-.056%202.205-.932.66-.668.875-2.184.875-2.184s.22-1.78.22-3.56v-1.67c0-1.78-.22-3.56-.22-3.56zm-13.052%207.254v-6.18l5.944%203.1-5.944%203.08z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center
}*/
