/* Extension: ErwinRoadmap */

.roadmap {
	width: 100%;
	margin: 2em auto;
}

.roadmap-title {
	display: flex;
	padding: 0em 0.5em 0em 1em;
	cursor: pointer;
	transition: 0.3s;
}

.roadmap-title-text {
	flex-basis: 350px;
	flex-grow: 4;
}

.roadmap-title-toggle {
	width: 40px;
	height: 100%;
	text-align: center;
	align-self: center;
	font-size: 24px;
	transition: transform 0.4s linear;
	/**
	 * This svg was taken from the icon library Font Awesome Free:
	 * Icon: https://fontawesome.com/icons/angle-down?style=solid
	 * License: https://fontawesome.com/license
	 */
	background: url('data:image/svg+xml;charset=utf8,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22angle-down%22%20class%3D%22svg-inline--fa%20fa-angle-down%20fa-w-10%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M143%20352.3L7%20216.3c-9.4-9.4-9.4-24.6%200-33.9l22.6-22.6c9.4-9.4%2024.6-9.4%2033.9%200l96.4%2096.4%2096.4-96.4c9.4-9.4%2024.6-9.4%2033.9%200l22.6%2022.6c9.4%209.4%209.4%2024.6%200%2033.9l-136%20136c-9.2%209.4-24.4%209.4-33.8%200z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center center;
}

.roadmap-rows {
	max-height: 0px;
	transition: max-height 0.8s ease-out;
	overflow: hidden;
}

.roadmap-row {
	display: flex;
	flex-wrap: wrap;
	border: 0px solid white;
}

.roadmap-row-data {
	width: 150px;
	padding: 0.1em 1.0em;
	border-width: 8px 8px 0 0;
	border-style: solid;
	border-color: white;
}

.roadmap-row-text {
	flex-basis: 350px;
	flex-grow: 4;
	padding: 0.1em 1.0em;
	border-width: 8px 0 0 0;
	border-style: solid;
	border-color: white;
}

@media (max-width: 640px) {
	.roadmap-title {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 4px solid white;
	}
	.roadmap-row-data {
		width: 100%;
		border: 4px solid white;
		border-left: 0px solid white;
		border-right: 0px solid white;
	}
	.roadmap-row-text {
		width: 100%;
		border: 4px solid white;
		border-left: 0px solid white;
		border-right: 0px solid white;
	}
}

/* Colors */

/* Default */
.roadmap-gray .roadmap-row-data, .roadmap-gray .roadmap-row-text {
	background: #eeeeee;
}
.roadmap-gray .roadmap-title {
	background-color: #aaaaaa;
}
.roadmap-gray .roadmap-title:hover {
	background-color: #888888;
}

/* Energie */
.roadmap-yellow .roadmap-row-data, .roadmap-yellow .roadmap-row-text {
	background: #FAEACC;
}
.roadmap-yellow .roadmap-title {
	background-color: #FFC42D;
}
.roadmap-yellow .roadmap-title:hover {
	background-color: #EEAB33;
}

/* Mobilität */
.roadmap-teal .roadmap-row-data, .roadmap-teal .roadmap-row-text {
	background: #CCECEA;
}
.roadmap-teal .roadmap-title {
	background-color: #33B3AD;
}
.roadmap-teal .roadmap-title:hover {
	background-color: #00A099;
}

/* Ressourcen */
.roadmap-violet .roadmap-row-data, .roadmap-violet .roadmap-row-text {
	background: #F5E1EC;
}
.roadmap-violet .roadmap-title {
	background-color: #D987B1;
}
.roadmap-violet .roadmap-title:hover {
	background-color: #CF699E;
}

/* Ernährung */
.roadmap-light-green .roadmap-row-data, .roadmap-light-green .roadmap-row-text {
	background: #E0F0D8;
}
.roadmap-light-green .roadmap-title {
	background-color: #83C363;
}
.roadmap-light-green .roadmap-title:hover {
	background-color: #64B43C;
}

/* Biodiversität */
.roadmap-dark-green .roadmap-row-data, .roadmap-dark-green .roadmap-row-text {
	background: #CCE6DA;
}
.roadmap-dark-green .roadmap-title {
	background-color: #339B6B;
}
.roadmap-dark-green .roadmap-title:hover {
	background-color: #008246;
}

/* Wirkung */
.roadmap-blue .roadmap-row-data, .roadmap-blue .roadmap-row-text {
	background: #D2E3EE;
}
.roadmap-blue .roadmap-title {
	background-color: #4C8DBD;
}
.roadmap-blue .roadmap-title:hover {
	background-color: #1F71AC;
}
