/* Extension: CardLayout */

.cards {
	width: 100%;
	margin: 2em auto;
}

.cards_wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0em;
}

.cards .card {
	width: 33.33%;
	padding: 0em;
}

@media (max-width: 800px) {
	.cards .card {
		width: 50%;
	}
}

@media (max-width: 450px) {
	.cards .card {
		width: 100%;
	}
}

.cards .card_inner{
	padding: 0em 1em 1em 0em;
}

.cards .card_title {
}

.cards .card_content {
	padding: 0.2em 0em 1em 0em;
}
