@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/ubuntu-v15-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/ubuntu-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/ubuntu-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/ubuntu-v15-latin-300.woff') format('woff'), /* Modern Browsers */
		url('fonts/ubuntu-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/ubuntu-v15-latin-300.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 300;
	src: url('fonts/ubuntu-v15-latin-300italic.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/ubuntu-v15-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/ubuntu-v15-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/ubuntu-v15-latin-300italic.woff') format('woff'), /* Modern Browsers */
		url('fonts/ubuntu-v15-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/ubuntu-v15-latin-300italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/ubuntu-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/ubuntu-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/ubuntu-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/ubuntu-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('fonts/ubuntu-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/ubuntu-v15-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/ubuntu-v15-latin-italic.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/ubuntu-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/ubuntu-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/ubuntu-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
		url('fonts/ubuntu-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/ubuntu-v15-latin-italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/ubuntu-v15-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/ubuntu-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/ubuntu-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/ubuntu-v15-latin-500.woff') format('woff'), /* Modern Browsers */
		url('fonts/ubuntu-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/ubuntu-v15-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 500;
	src: url('fonts/ubuntu-v15-latin-500italic.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/ubuntu-v15-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/ubuntu-v15-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/ubuntu-v15-latin-500italic.woff') format('woff'), /* Modern Browsers */
		url('fonts/ubuntu-v15-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/ubuntu-v15-latin-500italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/ubuntu-v15-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/ubuntu-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/ubuntu-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/ubuntu-v15-latin-700.woff') format('woff'), /* Modern Browsers */
		url('fonts/ubuntu-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/ubuntu-v15-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/ubuntu-v15-latin-700italic.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/ubuntu-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/ubuntu-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/ubuntu-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
		url('fonts/ubuntu-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/ubuntu-v15-latin-700italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/*------------------------------------------------------------------------------
Font - Palanquin
------------------------------------------------------------------------------*/

@font-face {
	font-family: 'Palanquin';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/palanquin-v6-latin-200.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/palanquin-v6-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/palanquin-v6-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/palanquin-v6-latin-200.woff') format('woff'), /* Modern Browsers */
		url('fonts/palanquin-v6-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/palanquin-v6-latin-200.svg#Palanquin') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Palanquin';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/palanquin-v6-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/palanquin-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/palanquin-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/palanquin-v6-latin-300.woff') format('woff'), /* Modern Browsers */
		url('fonts/palanquin-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/palanquin-v6-latin-300.svg#Palanquin') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Palanquin';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/palanquin-v6-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/palanquin-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/palanquin-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/palanquin-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('fonts/palanquin-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/palanquin-v6-latin-regular.svg#Palanquin') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Palanquin';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/palanquin-v6-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/palanquin-v6-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/palanquin-v6-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/palanquin-v6-latin-500.woff') format('woff'), /* Modern Browsers */
		url('fonts/palanquin-v6-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/palanquin-v6-latin-500.svg#Palanquin') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Palanquin';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/palanquin-v6-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/palanquin-v6-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/palanquin-v6-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/palanquin-v6-latin-600.woff') format('woff'), /* Modern Browsers */
		url('fonts/palanquin-v6-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/palanquin-v6-latin-600.svg#Palanquin') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Palanquin';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/palanquin-v6-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/palanquin-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/palanquin-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/palanquin-v6-latin-700.woff') format('woff'), /* Modern Browsers */
		url('fonts/palanquin-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/palanquin-v6-latin-700.svg#Palanquin') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Palanquin';
	font-style: normal;
	font-weight: 100;
	src: url('fonts/palanquin-v6-latin-100.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('fonts/palanquin-v6-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/palanquin-v6-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/palanquin-v6-latin-100.woff') format('woff'), /* Modern Browsers */
		url('fonts/palanquin-v6-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/palanquin-v6-latin-100.svg#Palanquin') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Palanquin', Sans-Serif !important;
	font-size: 1em !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', Sans-Serif !important;
}

.mw-body dt {
	font-family: 'Ubuntu', Sans-Serif !important;
}