/* Global */

body {
	color: #333 !important;
	background-color: #00807A !important;
}

/* Header on small devices */

@media screen and (max-width: 550px) {
	#p-logo-text {
		position:absolute !important;
	}

	#p-logo-text a {
		padding-top: 0;
	}

	#p-logo-text a.long {
		padding-bottom: 0.2em;
	}
}

@media screen and (max-width: 320px) {
	#p-logo-text {
		position:static !important;
	}

	#p-logo-text a {
		padding-top: 0;
	}

	#p-logo-text a.long {
		padding-bottom: 0.2em;
	}
	#p-banner.wordmark img {
		padding-bottom: 0.2em;
	}
}

/* Links */

a {
	color: #00807A !important;
	transition: 0.3s;
	font-weight: 500;
}

a:hover, a:focus {
	color: #59C1BD !important;
}

/* Images */

img {
	max-width: 100%;
	height: auto;
}

td img {
	max-width: none;
}

.thumbinner {
	border-color: #B5B5B5 !important;
	border-width: 1px !important;
}

.thumbimage {
	background-color: #fff !important;
}

/* Images: fixes narrow text columns for portrait mode images in articles */

@media screen and (max-width: 420px) {
	.floatright, .tright {
		width: 100% !important;
	}
}

@media screen and (max-width: 850px) {
	.floatright, .tright {
		padding-left: 0.5em !important;
	}
}

/* Headlines */

.mw-body h1.firstHeading {
	border-bottom: solid 2px #00807A !important;
	padding-bottom: 0.25em !important;
}

.mw-body .mw-parser-output h1:after, .mw-body .mw-parser-output h2:after {
	border-bottom: solid 2px #DDD !important;
	padding-top: 0.15em !important;
}

/* Sidebar & Portlets */

.sidebar-chunk {
	box-shadow: none !important;
	border-width: 1px;
}

.mw-portlet h3,
.sidebar-chunk h3 {
	padding-bottom: 0.25em !important;
	border-bottom: solid 2px #DDD !important;
}

/* Header */

#mw-header-container {
	background-color: #00807A !important;
	color: #fff !important;
}

#p-logo-text a {
	color: #fff !important;
}

#p-personal-label {
	color: #333 !important;
}

.color-left, .color-middle, .color-right {
	background: #00807A !important;
}

/* Footer */

#mw-footer {
	background: #00807A !important;
}

#mw-footer-container {
	background: #00807A !important;
	border-top: none !important;
	box-shadow: none !important;
}

#mw-footer-container a {
	color: #fff !important;
}

#mw-footer-container a:hover {
	text-decoration: underline !important;
}

.catlinks {
	text-align: center !important;
	border-bottom: solid 1em #E9E9E9 !important;
	margin: 0px !important;
}

/* Content Container */

#mw-content-container {
	background-color: #E9E9E9 !important;
	border: 0 !important;
}

#mw-content {
	border: solid #E9E9E9 !important;
	border-width: 1px 0px 1em !important;
	padding: 1em 1.5em 2em !important;
	box-shadow: none !important;
}

#content-bottom-stuff {
	background-color: #fff;
}

/* Content Navigation */

.tools-inline li {
	padding-bottom: 0.15em;
}

.tools-inline li.selected {
	border-bottom-color: #DDD !important;
}

.tools-inline li:hover {
	border-bottom-color: #59C1BD !important;
}

/* Table of Contents */

.toctitle {
	padding-bottom: 0.25em !important;
	border-bottom: solid 2px #DDD !important;
}

.toctogglelabel {
	color: #00807A !important;
	transition: 0.3s;
}

.toctogglelabel:hover, .toctogglelabel:focus {
	color: #59C1BD !important;
}

.toc {
	border-color: #B5B5B5 !important;
	border-width: 1px !important;
	width: inherit !important;
}

ul#filetoc {
	border-color: #B5B5B5 !important;
	border-width: 1px !important;
}

h2#mw-toc-heading {
	border-width: 0px !important;
}

/* Tables */

.wikitable, .mw-datatable {
	background-color: #fff !important;
	color: #333 !important;
	border: 1px solid #B5B5B5 !important;
}

.wikitable th, .mw-datatable th {
	background-color: #E9E9E9 !important;
	border: 1px solid #B5B5B5 !important;
}

.wikitable td, .mw-datatable td {
	border: 1px solid #B5B5B5 !important;
}

.mw-datatable-is-descending a,.mw-datatable-is-ascending a {
	background-image: none;
}

.mw-datatable-is-descending::after {
	content: "▼";
}

.mw-datatable-is-ascending::after {
	content: "▲";
}

/* Forms */

form input {
	padding: 6px 12px !important;
}

#bodyContent input[type='submit'] {
	background-color: #00807A !important;
	border-color: #00807A !important;
	color: #fff !important;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
}

#bodyContent input[type='submit']:hover  {
	background-color: #00A099 !important;
	border-color: #00A099 !important;
}

#bodyContent legend {
	font-weight: bold;
}

#bodyContent fieldset {
	margin-bottom: 0.5em;
}

.htmlform-tip {
	margin-bottom: 15px;
}

label + div.mw-input {
	margin-top: 5px;
}

.oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:checked + span {
	border-color: #00807A !important;
}

.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked + span, .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate + span {
	background-color: #00807A !important;
	border-color: #00807A !important;
}

.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked:hover + span {
	background-color: #00A099 !important;
	border-width: 1px;
}

.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:hover + span {
	border-color: #00A099 !important;
	border-width: 2px;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
	background-color: #00807A !important;
	border-color: #00807A !important;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover {
	background-color: #00A099 !important;
	border-color: #00A099 !important;
}

.mw-ui-input:focus {
	border-color: #00807A !important;
	box-shadow: inset 0 0 0 1px #00807A !important;
}

.mw-ui-button.mw-ui-progressive {
	background-color: #00807A !important;
	border-color: #00807A !important;
}

.mw-ui-button.mw-ui-progressive:hover, .mw-ui-button.mw-ui-progressive:focus {
	background-color: #00A099 !important;
	border-color: #00A099 !important;
}

.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:focus {
	border-color: #00807A !important;
	box-shadow: inset 0 0 0 1px #00807A !important;
}

.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:focus {
	border-color: #00807A !important;
	box-shadow: inset 0 0 0 1px #00807A !important;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus {
	border-color: #00807A !important;
	box-shadow: inset 0 0 0 1px #00807A !important;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
	background-color: #E95A0C !important;
	border-color: #E95A0C !important;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button {
	background-color: #00807A !important;
	border-color: #00807A !important;
	color: #fff !important;
}

.mw-rcfilters-ui-changesListWrapperWidget:not(.mw-rcfilters-ui-changesListWrapperWidget-highlighted) .mw-changeslist-watchedseen div.mw-rcfilters-ui-highlights-color-none {
	border-color: #00807A !important;
}

div.oo-ui-processDialog-actions-primary span.oo-ui-widget-enabled a.oo-ui-buttonElement-button span.oo-ui-labelElement-label {
	color: #fff !important;
}

.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:checked + label:before {
	background-color: #00807A !important;
	border-color: #00807A !important;
}

.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:hover + label:before {
	border-color: #00A099 !important;
	border-width: 2px;
}

.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:checked:hover + label:before {
	background-color: #00A099 !important;
	border-color: #00A099 !important;
	border-width: 1px;
}

.oo-ui-menuOptionWidget.oo-ui-optionWidget-selected {
	background-color: #E9E9E9 !important;
	color: #00A099 !important;
}

/* Wiki-Editor */

.wikiEditor-ui-toolbar .booklet > .index > .current {
	background-color: #E9E9E9 !important;
	color: #00A099 !important;
}

/* Messages */

.error, .warning, #mw-missingsummary {
	color: #E95A0C !important;
}

.mw-warning {
	border-width: 1px !important;
	background-color: #FAEACC !important;
	border-color: #FFC42D !important;
	box-shadow: none !important;
	padding: 0.5em 1em !important;
}

#antispam-container ~ p {
	color: #E95A0C !important;
}

.errorbox {
	background-color: #fee7e6 !important;
	border-color: #E95A0C !important;
}

.warningbox {
	background-color: #FAEACC !important;
	border-color: #FFC42D !important;
}

.successbox {
	background-color: #E0F0D8 !important;
	border-color: #83C363 !important;
}

div.usermessage {
	background-color: #E0F0D8 !important;
	border: 1px solid #83C363 !important;
	padding: 1em 1em !important;
	margin: 0px 0px 1em !important;
}

/* Extension: MsUpload */

#msupload-div {
	background-color: #F7FAFC !important;
}

#msupload-dropzone {
	color: #000 !important;
}

#msupload-bottom {
	text-shadow: none !important;
}

/* Extension: ApprovedRevs */

#contentSub2 a {
	background-color: #00807A !important;
	border-color: #00807A !important;
	color: #fff !important;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	padding: 6px 12px !important;
	margin-top: 100px;
}

#contentSub2 a:hover {
	background-color: #00A099 !important;
	border-color: #00A099 !important;
}

#contentSub2 {
	display: block;
	position: relative;
	top: -10px;
}

.approved-revision {
	background-color: #E0F0D8 !important;
}

/* Extension: Cards */

.card .card_title {
	border-bottom: solid 2px #DDD;
	line-height: 1.125;
	font-size: 1.6em;
	padding-bottom: 0.15em;
}

.cards .card_content {
}

/* Recent Changes */

.oo-ui-icon-feedback {
	background-image: none !important;
}

.mw-changeslist-legend {
	border-color: #B5B5B5 !important;
	border-width: 1px !important;
}

@media (max-width: 450px) {
	td.mw-enhanced-rc {
		font-family: inherit !important;
	}
	.mw-changeslist-legend {
		float: none !important;
		padding: 1em !important;
		margin: 0px !important;
	}
	.client-js .mw-changeslist ul, .client-js .mw-changeslist table.mw-enhanced-rc {
		margin: 0px !important;
	}
}
